/* Your styles go here */

// THEME COLORS 
$pastel-blue:    #a0ced9;
$pastel-brown-yellow:  #e6cda3;

$primary: $pastel-blue;
$secondary: $pastel-brown-yellow;

// Imports
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fjalla+One&display=swap');

html * {
    font-family: 'Fjalla One', sans-serif;
}

h4 {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

h5 {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-brand img {
    width: 150px;
}

// Tablet
@include media-breakpoint-up(md) {
    .navbar-brand img {
        width: 200px;
    }

    .navbar .container-fluid {
    flex-direction: column;
    }
    .navbar .navbar-nav .nav-item {
        padding: 1em;
    }

    .navbar .navbar-nav {
        margin-top: 1em;
    }

    #callImage {
        margin-right: 0 !important;
    }

    #howStartText {
        margin-right: 0 !important;
    }

    #blogQuote {
        margin-right: 0 !important;
    }

    #contactInfo {
        margin-right: 0 !important;
    }

    #callText {
        margin-left: 0 !important;
    }

    #howStartImage {
        margin-left: 0 !important;
    }

    #blogImage {
        margin-left: 0 !important;
    }

    #contactForm {
        margin-left: 0 !important;
    }

    .paragraphText * {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    .aboutMeListText {
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
}

// Tablet Down
@include media-breakpoint-down(lg) {
    h3 {
        font-size: large;
    }

    #priceCards {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .blogPosts .card-img-top {
        height: 250px;
    }
}

// Desktop
@include media-breakpoint-up(lg) {
    #bodyMargin {
        margin-left: 5%;
        margin-right: 5%;
    }

    .paragraphText * {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }

    #callToAction a {
        font-size: x-large;
    }

    #mediumPhotos {
        display: none;
    }

    #callToAction a {
        height: 5rem;
    }

    textarea {
        height: 15rem;
    }

    .blogPosts .card-img-top {
        height: 300px;
    }
}

// Large Desktop
@include media-breakpoint-up(xl) {
    #bodyMargin {
        margin-left: 5%;
        margin-right: 5%;
    }

    .paragraphText * {
        padding-left: 15rem !important;
        padding-right: 15rem !important;
    }

    .blogPosts .card-img-top {
        height: 400px;
    }
}

// Extra Large Desktop
@include media-breakpoint-up(xxl) {
    #bodyMargin {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.navbar .navbar-nav .nav-link {
    color: black;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.navbar .navbar-nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 0.5em;
}

#callToAction img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mapContainer {
    margin-bottom: -0.4rem;
}

#howStarted img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#blogBody img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#callToAction a {
    width: 100%;
}

.horizontalGridImage {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.verticalGridImage {
    width: 100%;
    height: 50rem;
    object-fit: cover;
}

#blogImage  img{
    max-height: 550px;
}

.paragraphText * {
    padding-left: 0rem;
    padding-right: 0rem;
}

.aboutMeListText * {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.blogPosts .card-img-top {
    object-fit: cover;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
}

.blogPosts .card-body {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer .row *{
    text-align: center;
}

footer a {
    color: white;
}