/* Your styles go here */

// THEME COLORS 
$road-paint-yellow:    rgb(244, 173, 9);
$forest-green:  rgb(58, 151, 62);

$primary: $road-paint-yellow;
$secondary: $forest-green;

// Imports
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

.navbar-brand {
    margin-right: 0;
}

.navbar-brand img {
    width: 150px;
}

// Tablet
@include media-breakpoint-up(md) {
    .navbar-brand img {
        width: 200px;
    }

    .navbar .container-fluid {
    flex-direction: column;
    }
    .navbar .navbar-nav .nav-item {
        padding: 1em;
    }

    .navbar .navbar-nav {
        margin-top: 1em;
    }

    #callImage {
        margin-right: 0 !important;
    }

    #howStartText {
        margin-right: 0 !important;
    }

    #blogQuote {
        margin-right: 0 !important;
    }

    #contactInfo {
        margin-right: 0 !important;
    }

    #callText {
        margin-left: 0 !important;
    }

    #howStartImage {
        margin-left: 0 !important;
    }

    #blogImage {
        margin-left: 0 !important;
    }

    #contactForm {
        margin-left: 0 !important;
    }
}

// Tablet Down
@include media-breakpoint-down(lg) {
    h3 {
        font-size: large;
    }

    #priceCards {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .blogPosts .card-img-top {
        height: 250px;
    }
}

// Desktop
@include media-breakpoint-up(lg) {
    #bodyMargin {
        margin-left: 5%;
        margin-right: 5%;
    }

    #callToAction a {
        font-size: x-large;
    }

    #mediumPhotos {
        display: none;
    }

    #callToAction a {
        height: 5rem;
    }

    textarea {
        height: 15rem;
    }

    .blogPosts .card-img-top {
        height: 300px;
    }
}

// Large Desktop
@include media-breakpoint-up(xl) {
    #bodyMargin {
        margin-left: 5%;
        margin-right: 5%;
    }

    .blogPosts .card-img-top {
        height: 400px;
    }
}

// Extra Large Desktop
@include media-breakpoint-up(xxl) {
    #bodyMargin {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.navbar .navbar-nav .nav-link {
    color: black;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.navbar .navbar-nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 0.5em;
}

#callToAction img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mapContainer {
    margin-bottom: -0.4rem;
}

#howStarted img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#blogBody img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#callToAction a {
    width: 100%;
}

.horizontalGridImage {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.verticalGridImage {
    width: 100%;
    height: 50rem;
    object-fit: cover;
}

.blogPosts .card-img-top {
    object-fit: cover;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
}

.blogPosts .card-body {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer .row *{
    text-align: center;
}

footer a {
    color: white;
}